h1 {
    text-align: center;
  }
  
  img {
    display: block;
    height:auto;
    width: 80%;
  }
  
  .slides {
    width:400px;
    margin:auto;
  }
  .carousel-control-next {
    float:right;
  }